<div *ngIf="showList === true; then listView else showDetail" ></div>
<ng-template #listView>
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="margin-top:200px;" >
				<div class="page-heading" >
					<h2>Job Listing</h2>
					<div class="row listing" *ngFor="let job of jobList;" >
						<div class="col-md-2">
						</div>
						<div class="col-md-8">
							<div class="list-text">
								<h5>{{job.title | uppercase}}</h5>
								<span class="date-text"><h5>Date - {{job.date | date }}&nbsp;,&nbsp;{{ job.date | date : 'shortTime' }}</h5></span>
								<div class="list-location-text">
									<ul>
										<li><h6>Pickup Location : <span class="greyColor" >{{job.source.address}}</span></h6></li>
										<li><h6>Drop Location : <span class="greyColor" >{{job.destination.address}}</span></h6></li>
										<li><h5>Driver Details</h5></li>
										<li><h6 *ngIf="realm === 'driver' && role === 'customer'" >Name : <span class="greyColor" >Anonymous</span></h6></li>
										<li><h6 *ngIf="realm === 'driver' && role === 'customer'" >Contact No. : <span class="greyColor" >9999999999</span></h6></li>
									</ul>
								</div>
								<div style="clear: both;"></div>
								<h5>Type of vehicle : {{job.typeOfVehicle}}</h5>
								<div class="button">
									<ul>
										<li>
											<a (click)="viewJob(job)" >View Job</a>
										</li>
										<li>
											<a (click)="applyForJob(job)" *ngIf="role === 'driver'" >Apply For Job</a>
										</li>
										<li>
											<a (click)="Cancel(job)" *ngIf="role === 'customer' && realm === 'customer'" >Cancel Job</a>
										</li>
									</ul>
								</div>
								<!-- <div style="clear: both;"></div> -->
								<span class="list-price" *ngIf="job.typeOfJob === 'standard rate'" >{{job.budget | currency:'KSh'}}</span>
								<span class="list-price" *ngIf="job.typeOfJob === 'on demand'" >{{job.netPrice | currency:'KSh'}}</span>
							</div>
						</div>
						<div class="col-md-2">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
</ng-template>
<ng-template #showDetail>
	<div class="container">
		<div class="row" style="margin-top: 170px;;background: url(../assets/images/bg/truk.jpg); background-repeat: no-repeat;background-size: cover;background-position: center center;" >
			<div class="col-md-12">
				<div class="page-heading" style="margin-top:200px;">
					<!-- <h2>Lorem ipsum</h2> -->
					<a class="col-md-12 whiteText" (click)="showList=true;" >Back</a>
					<div class="col-md-5">
						<div class="job-detail-map">
							<agm-map [latitude]="selectedJob.source.location.lat" [longitude]="selectedJob.source.location.lng" [scrollwheel]="true" *ngIf="selectedJob" [fitBounds]="bounds" [streetViewControl]="true" zoomControl="true" >
								<agm-polyline *ngFor="let point of selectedRoute;let i = index;"  [strokeColor]="'red'">
									<agm-polyline-point [latitude]="point.lat" [longitude]="point.lng">
									</agm-polyline-point>
									<ng-container *ngIf="selectedRoute[i+1]">
										<agm-polyline-point [latitude]="selectedRoute[i+1].lat" [longitude]="selectedRoute[i+1].lng">
										</agm-polyline-point>
									</ng-container>
								</agm-polyline>
								<agm-marker [latitude]="selectedJob.source.location.lat" [longitude]="selectedJob.source.location.lng" [title]="selectedJob.source.address" ></agm-marker>
								<agm-marker [latitude]="selectedJob.destination.location.lat" [longitude]="selectedJob.destination.location.lng" [title]="selectedJob.destination.address" ></agm-marker>
							</agm-map>
						</div>
					</div>
					<div class="col-md-7">
						<div class="job-view-text">
							<table class="table job-detail-table" *ngIf="selectedJob" >
								<tbody>
									<tr>
										<td>Date</td>
										<td>{{selectedJob.date | date}}&nbsp;,&nbsp;{{ selectedJob.date | date : 'shortTime' }}</td>
									</tr>
									<tr>
										<td>Pickup Location</td>
										<td>{{selectedJob.source.address}}</td>
									</tr>
									<tr>
										<td>Drop Location</td>
										<td>{{selectedJob.destination.address}}</td>
									</tr>
									<tr>
										<td>Type of vehicle</td>
										<td>{{selectedJob.typeOfVehicle}}</td>
									</tr>
									<tr>
										<td>Job Title</td>
										<td>{{selectedJob.title}}</td>
									</tr>
									<tr>
										<td>Total Weight</td>
										<td>{{selectedJob.weight}} ton</td>
									</tr>
									<tr>
										<td>Total Distance</td>
										<td>{{selectedJob.distance.text}}</td>
									</tr>
									<tr>
										<td>Value Of Goods</td>
										<td>{{selectedJob.valueOfGoods | currency:'KSh'}}</td>
									</tr>
									<tr>
										<td>Nature Of Good</td>
										<td>{{selectedJob.natureOfGoods}}</td>
									</tr>
									<tr>
										<td>Total Time</td>
										<td>{{selectedJob.duration.text}}</td>
									</tr>
									<tr *ngIf="selectedJob.vehicleTonnage" >
										<td>Vehicle Tonnage</td>
										<td>{{selectedJob.vehicleTonnage}}</td>
									</tr>
									<tr *ngIf="selectedJob.vehicleBodyType" >
										<td>Vehicle BodyType</td>
										<td>{{selectedJob.vehicleBodyType}}</td>
									</tr>
									<tr>
										<td>Budget</td>
										<td>{{selectedJob.budget | currency:'KSh'}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>