.list-location-text ul li{
  padding-right: 0px !important;
  float: none !important;
}

.greyColor{
	color : grey;
}

.job-detail-page {
    padding: 150px 0px;
}

.job-view-text {
    text-align: center;
    color: #fff;
}

.whiteText{
	color: #fff;
}

a{
	cursor : pointer;
}
agm-map {
    height: 500px;
}