agm-map {
    height: 100vh;
}
a{
	cursor : pointer;
}

@media only screen and (min-width : 994px) and (max-width : 1600px){

.submit-btn a{
    padding: 5px 35px !important;
  }
}
.Next-btn{
  margin-top: 15px;
  margin-bottom: 15px;
}
.back-button a i {
    font-size: 35px;
    margin-left: 15px;
    margin-top: 15px;
}

p{
	font-size : 18px;
}

input{
	color : grey;
}

::-webkit-input-placeholder { /* Chrome */
  color: grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: grey;
  opacity: 1;
}

select{
	outline : 0;
}

.selectedVehicle{
	border: 3px solid orange;
}

.find-best-route{
	font-size : 18px;
	text-align : center;
	color : orange;
}

.selectedRoute{
	background: #f58220;
    color: #fff;
}