<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 map-bg" >
      <div class="truck-booking" id="truck1" *ngIf="phase1 && !phase2 && !phase3" >
		<div class="col-md-12" >     
			<label class="radio-btn" id="Vehicle-box">Vehicle
				<input type="radio" name="radio" id="customer" value="vehicle" [(ngModel)]="request.requestFor" >
				<span class="checkmark radio-btn1"></span>
			</label>
			<label class="radio-btn" id="Machinery-box" *ngIf="jobObj.typeOfJob === 'standard rate'" >Machinery
				<input type="radio" name="radio" id="driver" value="machinery" [(ngModel)]="request.requestFor" >
				<span class="checkmark radio-btn1"></span>
			</label>
		</div>
		
        <div class="pickup-text">
			<form class="contact100-form validate-form">
				<p>Pickup Location</p>
				<div class="col-md-12 load-form">
					<div class="wrap-input100 validate-input">
						<input class="input100" required type="text" autocorrect="off" autocapitalize="off" spellcheck="off" id="pickupAutocomplete" name="pickupAutocomplete" placeholder="Pickup Location">
					</div>
					<div class="alert alert-danger" *ngIf="errArr.source" >
						Source is required 
					</div>
				</div>
				<p>Drop Location</p>
				<div class="col-md-12 load-form">
					<div class="wrap-input100 validate-input">
						<input class="input100" required type="text" autocorrect="off" autocapitalize="off" spellcheck="off" id="dropAutocomplete" name="dropAutocomplete" placeholder="Drop Location">
					</div>
					<div class="alert alert-danger" *ngIf="errArr.drop" >
						Destination is required 
					</div>
				</div>
				<p>When</p>
				<div class="col-md-12">
					<div class="wrap-input100 validate-input"></div>
					<input class="input100" [(ngModel)]="jobObj.day" id="date" name="date" placeholder="Date" type="text" />
					<span class="focus-input100"></span>
					<div class="alert alert-danger" *ngIf="errArr.day" style="margin-top:10px;" >
						Date is required 
					</div>
				</div>
				<div class="col-md-12">
					<div class="wrap-input100 validate-input"></div>
					<input class="input100" [(ngModel)]="jobObj.time" id="time" name="time" placeholder="Time" type="text" readonly />
					<span class="focus-input100"></span>
					<div class="alert alert-danger" style="margin-top:10px;" *ngIf="errArr.time" >
						Time is required 
					</div>
				</div>			
          </form>
        </div>
		
		<div class="vehicle-selection" id="truck1" *ngIf="vehicleTypes && request.requestFor === 'vehicle'">
			<div class="vehicle-list">
				<p>Select Vehicle</p>
				<ul>
					<li class="hvrbox" *ngFor="let vehicle of vehicleTypes;let i=index;">
						<div class="vehicle-img hvrbox-layer_bottom" [ngClass]="{'selectedVehicle' : selectedVehicle === vehicle }" >
							<img class="img-responsive" [src]="vehicle.imgUrl">
							<p>{{vehicle.name}}</p>
							<div class="hvrbox-layer_top hvrbox-layer_slideup">
								<div class="hvrbox-text">
									<!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
									<a (click)="selectVehicle(vehicle)" class="next-form">select</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="vehicle-selection" *ngIf="machineryTypes && request.requestFor === 'machinery'">
			<div class="vehicle-list">
				<p>Select Machinery</p>
				<ul>
					<li class="hvrbox" *ngFor="let machine of machineryTypes;">
						<div class="vehicle-img hvrbox-layer_bottom" [ngClass]="{'selectedVehicle' : selectedVehicle === machine }">
							<img class="img-responsive" [src]="machine.imgUrl">
							<p>{{machine.name}}</p>
							<div class="hvrbox-layer_top hvrbox-layer_slideup">
								<div class="hvrbox-text">
									<!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
									<a (click)="selectVehicle(machine)" class="next-form">select</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="alert alert-danger" *ngIf="!request.requestFor && errArr.vehicle" style="margin: 320px 15px 10px 15px;" >
			Please select one vehicle
		</div>
		
		<div class="alert alert-danger" *ngIf="request.requestFor && errArr.vehicle" style="margin: 15px;" >
			Please select one vehicle
		</div>
		
        <div class="submit-btn Next-btn col-md-12" >
            <a (click)="submitPhase1()" >Next</a>
        </div>
      </div>
      <div class="truck-booking" id="truck2" *ngIf="!phase1 && phase2 && !phase3" >	
        <p></p>
		<div class="back-button">
			<a (click)="backPhase2()" >
				<i class="fa fa-long-arrow-left"></i>
			</a>
		</div>
        <form class="contact100-form validate-form">
			<div class="col-md-12 load-form">
				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" placeholder="Job Title" name="title" [(ngModel)]="jobObj.title" >
				</div>
				<div class="alert alert-danger" *ngIf="errArr.title"  >
					Title is required 
				</div>
			</div>
			
			<p *ngIf="selectedVehicle.ton && selectedVehicle.ton.length > 0" >Select Ton</p>
			<div class="col-md-12 load-form" *ngIf="selectedVehicle.ton && selectedVehicle.ton.length > 0" >
				<div class="wrap-input100 selectdiv">
					<select [(ngModel)]="jobObj.vehicleTonnage" name="selectTon" class="custom-select my-1 mr-sm-2 input100" id="inlineFormCustomSelectPref">
						<!-- <option value="" selected>Type</option> -->
						<option *ngFor="let ton of selectedVehicle.ton" name="ton" [value]="ton.value" >{{ton.value}}&nbsp;{{ton.unit}}</option>
					</select>
					<span class="focus-input100"></span>
				</div>
				<div class="alert alert-danger" *ngIf="selectedVehicle.ton && selectedVehicle.ton.length > 1 && errArr.vehicleTonnage" >
					Please select Tonnage 
				</div>
			</div>
			
			<p *ngIf="selectedVehicle.bodyType && selectedVehicle.bodyType.length > 0" >Select BodyType</p>
			<div class="col-md-12 load-form" *ngIf="selectedVehicle.bodyType && selectedVehicle.bodyType.length > 0" >
				<div class="wrap-input100 selectdiv">
					<select [(ngModel)]="jobObj.vehicleBodyType" name="selectBodyType" class="custom-select my-1 mr-sm-2 input100" id="inlineFormCustomSelectPref">
						<!-- <option value="" selected>Type</option> -->
						<option *ngFor="let bodyType of selectedVehicle.bodyType" name="bodytype" [value]="bodyType.name" >{{bodyType.name}}</option>
					</select>
				</div>
				<div class="alert alert-danger" *ngIf="selectedVehicle.bodyType && selectedVehicle.bodyType.length > 1 && errArr.vehicleBodyType" >
					Please select Body Type
				</div>
			</div>
			
			<div class="col-md-12 load-form">
				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" placeholder="Description" name="description" [(ngModel)]="jobObj.description" >
				</div>
				<div class="alert alert-danger" *ngIf="errArr.description" >
					Description is required 
				</div>
			</div>
			
        </form>
        <a class="col-md-12 find-best-route" *ngIf="routes.length>0" (click)="showRoutes=true;" >Find Best Route</a>
		<div *ngIf="showRoutes" class="col-md-12" style="margin-bottom:10px" >
			<div  class="row Possible-routs" *ngFor="let route of routes;" [ngClass]="{'selectedRoute' : selectedRoutes === route}" >
				<a>
					<div class="col-md-4">
						<div class="map-img">
							<img class="img-responsive" src="assets/images/map.jpg">
						</div>
					</div>
					<div class="col-md-8">
						<div class="map-text" (click)="selectRoute(route)">
							<h6>{{route.legs[0].distance.text}}</h6>
							<p>{{route.legs[0].duration.text}}</p>
							<p>via {{route.summary}}</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="alert alert-danger" *ngIf="errArr.route" style="margin:15px;clear:left;" >
			Select a route 
		</div>
		<div class="submit-btn Next-btn col-md-12" *ngIf="routes.length>0">
            <a (click)="submitPhase2()" >Next</a>
        </div>
      </div>
      <div class="truck-booking" id="kuch" *ngIf="!phase1 && !phase2 && phase3" >
	  <div class="back-button">
			<a (click)="phase2=true;phase1=false;phase3=false;" >
				<i class="fa fa-long-arrow-left"></i>
			</a>
		</div>
        <p>What Type of Goods</p>
        <form class="contact100-form validate-form">
			<div class="col-md-12 load-form">
				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" placeholder="Weight of Goods in tonnes" name="weight" [(ngModel)]="jobObj.weight" appTestDirective >
				</div>
				<div class="alert alert-danger" *ngIf="errArr.weight" >
					Weight of Goods is required 
				</div>
				<div class="alert alert-danger" *ngIf="errArr.weightMore" >
					Weight of Goods should be less then or equal to {{jobObj.vehicleTonnage}}
				</div>
			</div>
			<div class="col-md-12 load-form">
				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" placeholder="Value Of Goods" name="valueOfGoods" [(ngModel)]="jobObj.valueOfGoods" appTestDirective >
				</div>
				<div class="alert alert-danger" *ngIf="errArr.valueOfGoods" >
					Value Of Goods is required 
				</div>
			</div>
			<div class="col-md-12 load-form">
				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" placeholder="Nature Of Good" name="natureOfGoods" [(ngModel)]="jobObj.natureOfGoods" >
				</div>
				<div class="alert alert-danger" *ngIf="errArr.natureOfGoods" >
					Nature Of Good is required 
				</div>
			</div>
			
			<div class="col-md-12 load-form" *ngIf="jobObj.typeOfJob === 'standard rate'" >
				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" placeholder="Budget" name="budget" [(ngModel)]="jobObj.budget" appTestDirective >
				</div>
				<div class="alert alert-danger" *ngIf="errArr.budget" >
					Budget is required 
				</div>
			</div>
			<p>Calculated Price</p>
			<div class="col-md-12 load-form" *ngIf="jobObj.typeOfJob === 'on demand'" >
				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" placeholder="Net Price" name="netPrice" [(ngModel)]="jobObj.netPrice" readonly >
				</div>
			</div>
			<div class="row">
				<div class="submit-btn Next-btn col-md-12">
					<a (click)="createJob()" >Post</a>
				</div>
			</div>    
        </form>
    </div>
    </div>
    <div class="col-md-9">
    <!-- <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction> -->
      <!--<agm-map [latitude]="lat" [longitude]="lng" class="map">
 		
 		<agm-polyline [editable]="true">
		    <agm-polyline-point *ngFor="let data of selectedRoute" 
		        [latitude]="data.lat()"
		        [longitude]="data.lng()">
		    </agm-polyline-point>
		</agm-polyline>
	  </agm-map>-->
	  
		<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom" *ngIf="phase1" [streetViewControl]="true" >
			<agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
		</agm-map>
		
		<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" *ngIf="!phase1" [fitBounds]="bounds" [streetViewControl]="true" zoomControl="true" >
			<agm-polyline *ngFor="let point of selectedRoute;let i = index;"  [strokeColor]="'red'">
				<agm-polyline-point [latitude]="point.lat" [longitude]="point.lng">
				</agm-polyline-point>
				<ng-container *ngIf="selectedRoute[i+1]">
					<agm-polyline-point [latitude]="selectedRoute[i+1].lat" [longitude]="selectedRoute[i+1].lng">
					</agm-polyline-point>
				</ng-container>
			</agm-polyline>
			<agm-marker [latitude]="jobObj.source.location.lat" [longitude]="jobObj.source.location.lng" [title]="jobObj.source.address" ></agm-marker>
			<agm-marker [latitude]="jobObj.destination.location.lat" [longitude]="jobObj.destination.location.lng" [title]="jobObj.destination.address" ></agm-marker>
		</agm-map>
    </div>
  </div>
</div>
