<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="breadcrumb-img">
                <img class="img-responsive" src="assets/images/bg/1.jpg">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center profile-img" *ngIf="user.realm == 'driver'">
                <div>
                    <img src="assets/images/team/team-2.jpg" alt="Profile picture">
                    <input type="file" id="image-input" onchange="readURL(this);" accept="image/*" class="form-control form-input Profile-input-file Profile-input-file1">
                    <p>Update Your Image</p>
                </div>
                <h3>Mike Miller</h3>
            </div>
            <div class="links">
                <ul>
                    <a href="javascript:;" (click)="selectTab('account')" id="myaccount">
                        <li>My Account</li>
                    </a>
                    <a href="javascript:;" (click)="selectTab('profile')" id="editprofile">
                        <li>Edit Profile</li>
                    </a>
                    <a href="javascript:;" (click)="selectTab('password')" id="changepass">
                        <li>Change Password</li>
                    </a>
                    <a href="javascript:;" (click)="selectTab('document')" id="uploaddocument">
                        <li>Upload Document</li>
                    </a>
                    <a href="javascript:;" (click)="selectTab('truck')" id="viewtruck">
                        <li>View Truck</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="edit-profile" id="myaccount1" *ngIf="tabValue=='account'">
                <h3>My Account</h3>
                <table class="table profile-table">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>{{user.name}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <td>Login as</td>
                            <td>:</td>
                            <td>{{user.realm}}</td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>:</td>
                            <td>...........</td>
                        </tr>
                        <tr>
                            <td>Mobile No</td>
                            <td>:</td>
                            <td>{{user.mobile}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="edit-profile" id="editprofile1" *ngIf="tabValue=='profile'">
                <h3>Edit Profile</h3>
                <div class="container-contact100 profile-table">
                    <div class="wrap-contact100 profile-edit">

                        <div class="alert alert-danger" *ngIf="errSuccObj.error" role="alert">
                          {{errSuccObj.error}}
                        </div>
                        <div class="alert alert-success" *ngIf="errSuccObj.success" role="alert">
                          {{errSuccObj.success}}
                        </div>

                        <form class="contact100-form validate-form" id="edit_profile" (submit)="editProfile(editForm)" #editForm="ngForm">

                            <div class="col-md-6">
                                <div class="wrap-input100 validate-input">
                                    <input class="input100" type="text" [(ngModel)]="editUser.name" required name="editName" placeholder="Name" #editName="ngModel">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                            <div id="errEditName" *ngIf="editForm._submitted">
                                <div class="error-div" *ngIf="editName.errors && editName.errors.required">
                                  This field is required
                                </div> 
                            </div>


                            <div class="col-md-6">
                                <div class="wrap-input100 validate-input">
                                    <input class="input100" type="text" [(ngModel)]="editUser.mobile" required pattern="[0-9]{4,20}" name="editMobile" placeholder="Mobile Number" #editMobile="ngModel">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                            <div id="errEditMobile" *ngIf="editForm._submitted">
                                <div class="error-div" *ngIf="editMobile.errors && editMobile.errors.required">
                                  This field is required
                                </div> 
                                <div class="error-div" *ngIf="editMobile.errors && editMobile.errors.pattern">
                                  Invalid mobile number
                                </div>   
                            </div>

                            <div class="col-md-12">
                                <div class="wrap-input100 validate-input">
                                    <input class="input100" type="text" name="editEmail" [(ngModel)]="editUser.email" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #editEmail="ngModel">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                            <div id="errEditMobile" *ngIf="editForm._submitted">
                                <div class="error-div" *ngIf="editEmail.errors && editEmail.errors.required">
                                  This field is required
                                </div> 
                                <div class="error-div" *ngIf="editEmail.errors && editEmail.errors.pattern">
                                  Invalid email
                                </div>   
                            </div>
                            
                            <div class="col-md-12">
                                <div class="container-contact100-form-btn">
                                    <button type="submit" class="contact100-form-btn" id="editProfileBtn" data-loading-text="Submit..." autocomplete="off">
                                        <span>
                                            <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                                            Submit
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="edit-profile" id="changepass1" *ngIf="tabValue=='password'">
                <h3>Change Password</h3>
                <div class="container-contact100 profile-table" id="driver_form">
                    <div class="wrap-contact100 profile-edit">
                    	<div class="alert alert-danger" *ngIf="changePassObj.error" role="alert">
						  {{changePassObj.error}}
						</div>
						<div class="alert alert-success" *ngIf="changePassObj.success" role="alert">
						  {{changePassObj.success}}
						</div>
                        <form class="contact100-form validate-form" #changePassForm="ngForm" (submit)="changePassword(changePassForm)" >
                            <div class="">
                                <div class="wrap-input100 validate-input">
                                    <input class="input100"  type="Password" name="currentPassword" [(ngModel)]="changePass.currentPassword" required minlength="6" placeholder="Current Password" #currentPassword="ngModel">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                            <div id="errPassword" *ngIf="changePassForm._submitted">
                                <div class="error-div" *ngIf="currentPassword.errors && currentPassword.errors.required">
                                  This field is required
                                </div>  
                                <div class="error-div" *ngIf="currentPassword.errors && currentPassword.errors.minlength">
                                  password must be at least 6 characters long
                                </div>  
                            </div>

                            <!-- <div id="errCurrPass">
                            	<div class="error-div" [hidden]="currentPassword.valid || !isPassFormSubmit">
                            		This field is required	
                            	</div>
							</div> -->
                            <div class="">
                                <div class="wrap-input100 validate-input">
                                    <input class="input100" type="Password" name="newPassword" [(ngModel)]="changePass.newPassword" required minlength="6"  placeholder="New Password" #newPassword="ngModel">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                            <div id="errPassword" *ngIf="changePassForm._submitted">
                                <div class="error-div" *ngIf="newPassword.errors && newPassword.errors.required">
                                  This field is required
                                </div>  
                                <div class="error-div" *ngIf="newPassword.errors && newPassword.errors.minlength">
                                  password must be at least 6 characters long
                                </div>  
                            </div>
                            <!-- <div id="errNewPass">
                            	<div class="error-div" [hidden]="newPassword.valid || !isPassFormSubmit">
                            		This field is required	
                            	</div>
							</div> -->

                            <div class="">
                                <div class="wrap-input100 validate-input">
                                    <input class="input100" type="Password" name="confirmPassword" [(ngModel)]="changePass.confirmPassword" required minlength="6" placeholder="Re-enter New Password"  #confirmPassword="ngModel">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                            <div id="errPassword" *ngIf="changePassForm._submitted">
                                <div class="error-div" *ngIf="confirmPassword.errors && confirmPassword.errors.required">
                                  This field is required
                                </div>  
                                <div class="error-div" *ngIf="confirmPassword.errors && confirmPassword.errors.minlength">
                                  password must be at least 6 characters long
                                </div>  
                            </div>

                            <!-- <div id="errConfirmPass">
                            	<div class="error-div" [hidden]="confirmPassword.valid || !isPassFormSubmit">
                            		This field is required	
                            	</div>
							</div> -->
                            <div class="col-md-12">
                                <div class="container-contact100-form-btn">
                                    <button class="contact100-form-btn" id="changePassBtn" data-loading-text="Submit..." autocomplete="off">
                                        <span>
                                        <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                                      		 Submit
                                    	</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="edit-profile" id="uploaddocument1" *ngIf="tabValue=='document'">
                <h3>Upload Document</h3>
                <div class="container-contact100 profile-table" id="driver_form">
                    <div class="wrap-contact100 profile-edit">
                        <div class="alert alert-danger" *ngIf="errSuccDoc.error" role="alert">
                          {{errSuccDoc.error}}
                        </div>
                        <div class="alert alert-success" *ngIf="errSuccDoc.success" role="alert">
                          {{errSuccDoc.success}}
                        </div>
                        <form class="contact100-form validate-form" (submit)="uploadDocument()">
                          <div class="wrap-input100">
                                    <div class="full-width">
                                        <input type="file" id="base-input" rah-file-dir (assignValue)="docFiles.licenceIds=$event" (updateName)="docExtra.licenceName = $event" class=" form-style-base input100">
                                        <input type="text" id="fake-input" [value]="docExtra.licenceName || 'Upload your Driving Licence'" class="form-style-fake input100" placeholder="Upload your Driving Licence" readonly>
                                        <span class="glyphicon glyphicon-open input-place"></span>
                                    </div>
                                </div>
                                <div class="wrap-input100">
                                    <div class="full-width">
                                        <input type="file" id="base-input1" rah-file-dir (updateName)="docExtra.idName = $event" (assignValue)="docFiles.governmentIds=$event" class=" form-style-base input100">
                                        <input type="text" id="fake-input1" [value]="docExtra.idName || 'Any Goverment ID'" class="form-style-fake input100" placeholder="Any Goverment ID" readonly>
                                        <span class="glyphicon glyphicon-open input-place"></span>
                                    </div>
                                </div>
                           
                            <div class="col-md-12">
                                <div class="container-contact100-form-btn">
                                    <button type="submit" class="contact100-form-btn" id="uploadDocBtn" data-loading-text="Submit..." autocomplete="off">
                                        <span>
                                            <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                                            Submit
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="edit-profile" id="viewtruck1" *ngIf="tabValue=='truck'">
                <h3>Truck List</h3>
                <div class="col-md-6" *ngFor="let vehicle of vehicles">
                   <div class="truck-list">
                       <h4>Tata 407</h4>
                       <ul>
                           <li>Type - {{vehicle.type}}</li>
                           <li>Reg. Number - {{vehicle.registrationNumber}}</li>
                           <li>Vehicle Number - {{vehicle.vehicleNumber}}</li>
                       </ul>
                   </div>
                </div>
                <!-- <div class="col-md-6">
                   <div class="truck-list">
                       <h4>Tata 407</h4>
                       <ul>
                           <li>Type - Truck</li>
                           <li>Reg. Number - 123456789</li>
                           <li>Vehicle Number - xyz 1234</li>
                       </ul>
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="truck-list">
                       <h4>Tata 407</h4>
                       <ul>
                           <li>Type - Truck</li>
                           <li>Reg. Number - 123456789</li>
                           <li>Vehicle Number - xyz 1234</li>
                       </ul>
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="truck-list">
                       <h4>Tata 407</h4>
                       <ul>
                           <li>Type - Truck</li>
                           <li>Reg. Number - 123456789</li>
                           <li>Vehicle Number - xyz 1234</li>
                       </ul>
                   </div>
                </div> -->
            </div>
        </div>
    </div>
</div>