<div style="clear: both;"></div>
<div class="whychoose-1 secpadd login-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div style="clear: both;"></div>
        <div class="form-section">
          <form class="contact100-form validate-form" (submit)="login(loginForm)" #loginForm="ngForm">  
            <div class="container radio-btn-bg">
              <label class="radio-btn">Owner
                <input type="radio" [(ngModel)]="user.realm" value="owner" id="owner" name="type">
                <span class="checkmark"></span>
              </label>
              <label class="radio-btn">Customer
                <input type="radio" [(ngModel)]="user.realm" value="customer" name="type" id="customer">
                <span class="checkmark"></span>
              </label>
              <label class="radio-btn">Driver
                <input type="radio" [(ngModel)]="user.realm" value="driver" name="type" id="driver">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="container-contact100" id="owner_form">
              <div class="wrap-contact100">
                  <div class="alert alert-danger" *ngIf="errSuccObj.error" role="alert">{{errSuccObj.error}}</div>
                  <!-- <div class="alert alert-success" *ngIf="errSuccObj.success" role="alert">{{errSuccObj.success}}</div> -->
                  <div class="form-heading">
                    <h3 *ngIf="user.realm == 'owner'">Login as a Owner</h3>
                    <h3 *ngIf="user.realm == 'customer'">Login as a Customer</h3>
                    <h3 *ngIf="user.realm == 'driver'">Login as a Driver</h3>
                  </div>
                  <!-- form element -->

                  <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required="" name="Email" placeholder="Email" #email="ngModel">
                    <span class="focus-input100"></span>
                  </div>
                  <div id="errEmail" *ngIf="loginForm._submitted">
                    <div class="error-div" *ngIf="email.errors && email.errors.required">
                      This field is required
                    </div>  
                    <div class="error-div" *ngIf="email.errors && email.errors.pattern">
                      Invalid email
                    </div>  
                  </div>
				  
                  <div class="wrap-input100 ">
                    <input class="input100" type="password" required [(ngModel)]="user.password" required minlength="6" name="password" placeholder="Password" #password="ngModel">
                    <span class="focus-input100"></span>
                  </div>
                  <div id="errPassword" *ngIf="loginForm._submitted">
                    <div class="error-div" *ngIf="password.errors && password.errors.required">
                      This field is required
                    </div>  
                    <div class="error-div" *ngIf="password.errors && password.errors.minlength">
                      password must be at least 6 characters long
                    </div>  
                  </div>
                  <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" type="submit" id="loginBtn" data-loading-text="Login..." autocomplete="off">
                      <span>
                        <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                        Submit
                      </span>
                    </button>
                  </div>
				  <div class="forget-text">
                    <a (click)="signInWithFB()">Login with Facebook</a>
                  </div>
                  <!-- <img src="../assets/images/facebook_button.png" class="button" (click)="signInWithFB()" /> -->
                  <div class="forget-text">
                    <a href="#">Forget Password</a>
                  </div>
                  <!-- form element -->

               
              </div>
            </div>
          </form>  
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
