
    <!-- masthead end -->
    <!--Main Slider-->
    <section class="rev_slider_wrapper">
      <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
          <!-- SLIDE  -->
          <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <!-- MAIN IMAGE -->
            <img src="assets/images/main-slider/slide3.jpg" alt="" title="Home Page 1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="0" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption   tp-resizeme" id="slide-1-layer-9" data-x="['left','left','left','left']" data-hoffset="['495','0','0','0']" data-y="['top','top','top','top']" data-voffset="['310','210','310','170']" data-width="none" data-height="none" data-whitespace="nowrap" data-visibility="['on','on','off','off']" data-type="image" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img src="assets/images/main-slider/slide-bg.png" alt="" data-ww="['674px','674px','674px','674px']" data-hh="['398px','398px','398px','398px']" width="674" height="398" data-no-retina> </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption ch_title   tp-resizeme" id="slide-1-layer-1" data-x="['left','left','left','left']" data-hoffset="['540','40','40','40']" data-y="['top','top','top','top']" data-voffset="['350','250','350','200']" data-fontsize="['55','50','45','25']" data-lineheight="['55','50','45','25']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":500,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; letter-spacing: 0px;">WE CARE ABOUT
            </div>
            <!-- LAYER NR. 3 -->
            <div class="tp-caption ch_title   tp-resizeme" id="slide-1-layer-2" data-x="['left','left','left','left']" data-hoffset="['550','40','40','40']" data-y="['top','top','top','top']" data-voffset="['420','330','410','245']" data-fontsize="['55','50','45','25']" data-lineheight="['55','50','45','25']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":500,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; letter-spacing: 0px;">YOUR CARGO </div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption ch_content   tp-resizeme" id="slide-1-layer-3" data-x="['left','left','left','left']" data-hoffset="['540','40','40','40']" data-y="['top','top','top','top']" data-voffset="['505','415','515','340']" data-fontsize="['24','24','18','18']" data-lineheight="['24','24','18','18']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":600,"speed":700,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; letter-spacing: 0px;">Dedicated employees, working in 06 regional</div>
            <!-- LAYER NR. 5 -->
            <div class="tp-caption ch_content   tp-resizeme" id="slide-1-layer-4" data-x="['left','left','left','left']" data-hoffset="['540','40','40','40']" data-y="['top','top','top','top']" data-voffset="['540','455','540','365']" data-fontsize="['24','24','18','18']" data-lineheight="['24','24','18','18']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":600,"speed":700,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; white-space: nowrap; letter-spacing: 0px;">around the globe, deliver operational </div>
            <!-- LAYER NR. 6 -->
            <a class="tp-caption ch_button rev-btn " href="#" target="_blank" id="slide-1-layer-5" data-x="['left','left','left','left']" data-hoffset="['540','40','40','40']" data-y="['top','top','top','top']" data-voffset="['600','520','620','430']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='' data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":800,"speed":1000,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(255,0,0);bc:rgb(255,0,0);bw:1 1 1 1;"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]" data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]" data-paddingleft="[35,35,35,35]" style="z-index: 10; white-space: nowrap; letter-spacing: px;background-color:rgba(0, 0, 0, 0);border-color:rgb(255,255,255);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">About us </a>
            <!-- LAYER NR. 7 -->
            <a class="tp-caption ch_button rev-btn " href="#" target="_blank" id="slide-1-layer-7" data-x="['left','left','left','left']" data-hoffset="['750','250','270','40']" data-y="['top','top','top','top']" data-voffset="['600','520','620','500']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='' data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":800,"speed":1000,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(255,0,0);bc:rgb(255,0,0);bw:1 1 1 1;"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]" data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]" data-paddingleft="[35,35,35,35]" style="z-index: 11; white-space: nowrap; letter-spacing: px;background-color:rgba(0, 0, 0, 0);border-color:rgb(255,255,255);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">Request  Quote </a>
          </li>
          <!-- SLIDE  -->
          <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <!-- MAIN IMAGE -->
            <img src="assets/images/main-slider/slide2.jpg" alt="" title="Home Page 1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="0" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->
            <!-- LAYER NR. 8 -->
            <div class="tp-caption   tp-resizeme" id="slide-2-layer-9" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['285','185','255','185']" data-width="none" data-height="none" data-whitespace="nowrap" data-visibility="['on','on','off','off']" data-type="image" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img src="assets/images/main-slider/slide-bg.png" alt="" data-ww="['755px','755px','755px','755px']" data-hh="['446px','446px','446px','446px']" width="674" height="398" data-no-retina> </div>
            <!-- LAYER NR. 9 -->
            <div class="tp-caption ch_title   tp-resizeme" id="slide-2-layer-1" data-x="['left','left','left','left']" data-hoffset="['40','40','40','40']" data-y="['top','top','top','top']" data-voffset="['340','250','320','220']" data-fontsize="['55','50','45','25']" data-lineheight="['55','50','45','25']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":500,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; letter-spacing: 0px;">SHARED & DEDICATED </div>
            <!-- LAYER NR. 10 -->
            <div class="tp-caption ch_title   tp-resizeme" id="slide-2-layer-2" data-x="['left','left','left','left']" data-hoffset="['40','40','40','40']" data-y="['top','top','top','top']" data-voffset="['410','330','380','280']" data-fontsize="['55','50','45','25']" data-lineheight="['55','50','45','25']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":500,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; letter-spacing: 0px;">WAREHOUSING </div>
            <!-- LAYER NR. 11 -->
            <div class="tp-caption ch_content   tp-resizeme" id="slide-2-layer-3" data-x="['left','left','left','left']" data-hoffset="['40','40','40','40']" data-y="['top','top','top','top']" data-voffset="['505','415','480','355']" data-fontsize="['24','24','24','18']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":600,"speed":700,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; letter-spacing: 0px;">Dedicated employees, working in 06 regional </div>
            <!-- LAYER NR. 12 -->
            <div class="tp-caption ch_content   tp-resizeme" id="slide-2-layer-4" data-x="['left','left','left','left']" data-hoffset="['40','40','40','40']" data-y="['top','top','top','top']" data-voffset="['545','455','515','385']" data-fontsize="['24','24','24','18']" data-lineheight="['24','24','24','18']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":600,"speed":700,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; white-space: nowrap; letter-spacing: 0px;">around the globe, deliver operational </div>
            <!-- LAYER NR. 13 -->
            <a class="tp-caption ch_button rev-btn " href="#" target="_blank" id="slide-2-layer-5" data-x="['left','left','left','left']" data-hoffset="['40','40','40','40']" data-y="['top','top','top','top']" data-voffset="['615','520','590','450']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='' data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":800,"speed":1000,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(255,0,0);bc:rgb(255,0,0);bw:1 1 1 1;"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]" data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]" data-paddingleft="[35,35,35,35]" style="z-index: 10; white-space: nowrap; letter-spacing: px;background-color:rgba(0, 0, 0, 0);border-color:rgb(255,255,255);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">About us </a>
            <!-- LAYER NR. 14 -->
            <a class="tp-caption ch_button rev-btn " href="#" target="_blank" id="slide-2-layer-7" data-x="['left','left','left','left']" data-hoffset="['250','250','270','40']" data-y="['top','top','top','top']" data-voffset="['615','520','590','530']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='' data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":800,"speed":1000,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(255,0,0);bc:rgb(255,0,0);bw:1 1 1 1;"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]" data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]" data-paddingleft="[35,35,35,35]" style="z-index: 11; white-space: nowrap; letter-spacing: px;background-color:rgba(0, 0, 0, 0);border-color:rgb(255,255,255);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">Request  Quote </a>
          </li>
          <!-- SLIDE  -->
          <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <!-- MAIN IMAGE -->
            <img src="assets/images/main-slider/slide1.jpg" alt="" title="Home Page 1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="0" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->
            <!-- LAYER NR. 15 -->
            <div class="tp-caption   tp-resizeme" id="slide-3-layer-9" data-x="['left','left','left','left']" data-hoffset="['495','0','0','0']" data-y="['top','top','top','top']" data-voffset="['310','210','210','154']" data-width="none" data-height="none" data-whitespace="nowrap" data-visibility="['on','on','off','off']" data-type="image" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img src="assets/images/main-slider/slide-bg.png" alt="" data-ww="['674px','674px','674px','674px']" data-hh="['398px','398px','398px','398px']" width="674" height="398" data-no-retina> </div>
            <!-- LAYER NR. 16 -->
            <div class="tp-caption ch_title   tp-resizeme" id="slide-3-layer-1" data-x="['left','left','left','left']" data-hoffset="['540','40','40','40']" data-y="['top','top','top','top']" data-voffset="['350','250','250','210']" data-fontsize="['55','50','45','25']" data-lineheight="['55','50','45','25']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":500,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; letter-spacing: 0px;">WORLDWIDE </div>
            <!-- LAYER NR. 17 -->
            <div class="tp-caption ch_title   tp-resizeme" id="slide-3-layer-2" data-x="['left','left','left','left']" data-hoffset="['540','40','40','40']" data-y="['top','top','top','top']" data-voffset="['420','330','330','250']" data-fontsize="['55','50','45','25']" data-lineheight="['55','50','45','25']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":500,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; letter-spacing: 0px;">LOGISTIC SERVICES </div>
            <!-- LAYER NR. 18 -->
            <div class="tp-caption ch_content   tp-resizeme" id="slide-3-layer-3" data-x="['left','left','left','left']" data-hoffset="['540','40','40','40']" data-y="['top','top','top','top']" data-voffset="['505','415','415','315']" data-fontsize="['24','24','24','18']" data-lineheight="['24','24','24','18']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":600,"speed":700,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; letter-spacing: 0px;">Dedicated employees, working in 06 regional</div>
            <!-- LAYER NR. 19 -->
            <div class="tp-caption ch_content   tp-resizeme" id="slide-3-layer-4" data-x="['left','left','left','left']" data-hoffset="['540','40','40','40']" data-y="['top','top','top','top']" data-voffset="['545','455','455','340']" data-fontsize="['24','24','24','18']" data-lineheight="['24','24','24','18']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":600,"speed":700,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; white-space: nowrap; letter-spacing: 0px;">around the globe, deliver operational</div>
            <!-- LAYER NR. 20 -->
            <a class="tp-caption ch_button rev-btn " href="#" target="_blank" id="slide-3-layer-5" data-x="['left','left','left','left']" data-hoffset="['540','40','40','40']" data-y="['top','top','top','top']" data-voffset="['610','520','520','400']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='' data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":800,"speed":1000,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(255,0,0);bc:rgb(255,0,0);bw:1 1 1 1;"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]" data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]" data-paddingleft="[35,35,35,35]" style="z-index: 10; white-space: nowrap; letter-spacing: px;background-color:rgba(0, 0, 0, 0);border-color:rgb(255,255,255);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">About us </a>
            <!-- LAYER NR. 21 -->
            <a class="tp-caption ch_button rev-btn " href="#" target="_blank" id="slide-3-layer-7" data-x="['left','left','left','left']" data-hoffset="['750','250','270','40']" data-y="['top','top','top','top']" data-voffset="['610','520','520','480']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='' data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":800,"speed":1000,"text_c":"transparent","bg_c":"transparent","use_text_c":false,"use_bg_c":false,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"use_text_c":false,"use_bg_c":false,"text_c":"transparent","bg_c":"transparent","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(255,0,0);bc:rgb(255,0,0);bw:1 1 1 1;"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]" data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]" data-paddingleft="[35,35,35,35]" style="z-index: 11; white-space: nowrap; letter-spacing: px;background-color:rgba(0, 0, 0, 0);border-color:rgb(255,255,255);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">Request  Quote </a>
          </li>
        </ul>
      </div>
    </section>
    <!--Main Slider  end-->
    <!-- Welcome sec -->
    <div class="welcomesec secpadd">
      <div class="container">
        <div class="fh-section-title clearfix  text-center version-dark paddbtm20">
          <h2>Welcome to Cargo <span class="main-color">Hub</span></h2>
        </div>
        <p class="haeadingpara text-center paddbtm40">Cargo HUB is more than logistics.
          <br/> We can also optimize your packaging, manage your materials sourcing, and so much more.</p>
        <div class="welservices row">
          <div class="col-md-4 col-sm-6">
            <div class="fh-icon-box icon-type-theme_icon style-1 version-dark hide-button icon-left">
              <span class="fh-icon"><i class="flaticon-transport-3"></i></span>
              <h4 class="box-title"><a href="#">Air Freight Forwarding</a></h4>
              <div class="desc">
                <p>As a leader in global air freight forwarding, OIA Global excels in providing tailored transportation</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="fh-icon-box icon-type-theme_icon style-1 version-dark hide-button icon-left">
              <span class="fh-icon"><i class="flaticon-transport-4"></i></span>
              <h4 class="box-title"><a href="#">Ocean Freight Forwarding</a></h4>
              <div class="desc">
                <p>Ocean Freight plays perhaps the most vital role in most transportation and supply chain solutions.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="fh-icon-box icon-type-theme_icon style-1 version-dark hide-button icon-left">
              <span class="fh-icon"><i class="flaticon-transport-5"></i></span>
              <h4 class="box-title"><a href="#">Road Freight Forwarding</a></h4>
              <div class="desc">
                <p>Cargo are transported at some stage of their journey along the world’s roads where we give you a reassuring presence.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Welcome sec   end-->
    <!-- special services -->
    <section class="special_services bluebg secpadd">
      <div class="container">
        <div class="row paddbtm40">
          <div class="col-md-4 col-sm-12">
            <div class="fh-section-title clearfix  text-left version-light">
              <h2>Our Special SERVICES</h2>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            <div class="hdrgtpara lftredbrdr">
              <p>Our warehousing services are known nationwide to be one of the most reliable, safe and affordable, because we take pride in delivering the best of warehousing services, at the most reasonable prices.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="fh-service-box icon-type-theme_icon style-1">
              <span class="fh-icon"><i class="flaticon-open-cardboard-box"></i></span>
              <h4 class="service-title"><a href="#" class="link" target="_blank">Packaging And Storage</a></h4>
              <div class="desc">
                <p>Package and store your things effectively and securely to make sure them in storage.</p>
              </div>
            </div>
            <div class="fh-service-box icon-type-theme_icon style-1">
              <span class="fh-icon"><i class="flaticon-buildings"></i></span>
              <h4 class="service-title"><a href="#" class="link" target="_blank">Warehousing</a></h4>
              <div class="desc">
                <p>Package and store your things effectively and securely to make sure them in storage.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="fh-service-box icon-type-theme_icon style-1">
              <span class="fh-icon"><i class="flaticon-transport-9"></i></span>
              <h4 class="service-title"><a href="#" class="link" target="_blank">Cargo</a></h4>
              <div class="desc">
                <p>Delivery of any freight from a place to another place quickly to save your cost and your time.</p>
              </div>
            </div>
            <div class="fh-service-box icon-type-theme_icon style-1">
              <span class="fh-icon"><i class="flaticon-transport-2"></i></span>
              <h4 class="service-title"><a href="#" class="link" target="_blank">Door to Door Delivery</a></h4>
              <div class="desc">
                <p>Our expertise in transport management and planning allows us to design a solution.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="fh-service-box icon-type-theme_icon style-1">
              <span class="fh-icon"><i class="flaticon-international-delivery"></i></span>
              <h4 class="service-title"><a href="#" class="link" target="_blank">Worldwide Transport</a></h4>
              <div class="desc">
                <p>Specialises in international freight forwarding of merchandise and associated general logistic services.</p>
              </div>
            </div>
            <div class="fh-service-box icon-type-theme_icon style-1">
              <span class="fh-icon"><i class="flaticon-transport-1"></i></span>
              <h4 class="service-title"><a href="#" class="link" target="_blank">Ground Transport</a></h4>
              <div class="desc">
                <p>Ground transportation options for all visitors, no matter your needs, schedule or destination.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- special services end -->
    <!--home counters -->
    <section class="homecounts">
      <div class="container">
        <h2 class="count-title">Cargo <span class="main-color">Hub</span> is a Global Supplier of Transport and logistics Solutions.</h2>
        <div class="row">
          <div class="col-lg-2 col-md-3 col-lg-offset-2">
            <div class="fh-counter icon-type-none">
              <div class="counter">
                <div class="value">9800</div>
                <h4>Delivered Package</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3">
            <div class="fh-counter icon-type-none">
              <div class="counter">
                <div class="value">230</div>
                <h4>Office Wordwide</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3">
            <div class="fh-counter icon-type-none">
              <div class="counter">
                <div class="value">1200</div>
                <h4>Employees</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3">
            <div class="fh-counter icon-type-none">
              <div class="counter">
                <div class="value">5200</div>
                <h4>Tons of Goods</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--home counters end -->
    <!--why choose us -->
    <section class="whychoose-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6  secpaddlf">
            <div class="fh-section-title clearfix  text-left version-dark paddbtm40">
              <h2>Why Choosing us?</h2>
            </div>
            <div class="fh-icon-box  style-2 icon-left has-line">
              <span class="fh-icon"><i class="flaticon-international-delivery"></i></span>
              <h4 class="box-title"><span>Global supply Chain Solutions</span></h4>
              <div class="desc">
                <p>Efficiently unleash cross-media information without cross-media value.</p>
              </div>
            </div>
            <div class="fh-icon-box  style-2 icon-left has-line">
              <span class="fh-icon"><i class="flaticon-people"></i></span>
              <h4 class="box-title"><span>24 Hours - Technical Support</span></h4>
              <div class="desc">
                <p>Specialises in international freight forwarding of merchandise and associated logistic services</p>
              </div>
            </div>
            <div class="fh-icon-box  style-2 icon-left has-line">
              <span class="fh-icon"><i class="flaticon-route"></i></span>
              <h4 class="box-title"><span>Mobile Shipment Tracking</span></h4>
              <div class="desc">
                <p>We Offers intellgent concepts for road and tail and well as complex special transport services</p>
              </div>
            </div>
            <div class="fh-icon-box  style-2 icon-left">
              <span class="fh-icon"><i class="flaticon-open-cardboard-box"></i></span>
              <h4 class="box-title"><span>Careful Handling of Valuable Goods</span></h4>
              <div class="desc">
                <p>Cargo HUB are transported at some stage of their journey along the world’s roads</p>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-md-6 quofrm1  secpaddlf">
            <div class="fh-section-title clearfix  text-left version-dark paddbtm40">
              <h2>REQUEST A QUOTE</h2>
            </div>
            <form>
              <div class="fh-form-1 fh-form">
                <div class="row fh-form-row">
                  <div class="col-md-6 col-xs-12 col-sm-12">
                    <p class="field">
                      <select>
                        <option value="Services">Services</option>
                        <option value="Services 1">Services 1</option>
                        <option value="Services 2">Services 2</option>
                      </select>
                    </p>
                  </div>
                  <div class="col-md-6 col-xs-12 col-sm-12">
                    <p class="field">
                      <input name="delivery-city" value="" placeholder="Delivery City*" type="text">
                    </p>
                  </div>
                  <div class="col-md-6 col-xs-12 col-sm-12">
                    <p class="field">
                      <input name="distance" value="" placeholder="Distance*" type="text">
                    </p>
                  </div>
                  <div class="col-md-6 col-xs-12 col-sm-12">
                    <p class="field">
                      <input name="weight" value="" placeholder="Weight*" type="text">
                    </p>
                  </div>
                  <div class="col-md-6 col-xs-12 col-sm-12">
                    <p class="field">
                      <input name="your-name" value="" placeholder="Name*" type="text">
                    </p>
                  </div>
                  <div class="col-md-6 col-xs-12 col-sm-12">
                    <p class="field">
                      <input name="your-email" value="" placeholder="Email*" type="email">
                    </p>
                  </div>
                  <div class="col-md-12 col-xs-12 col-sm-12">
                    <p class="field single-field">
                      <textarea cols="40" placeholder="Message*"></textarea>
                    </p>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <p class="field submit">
                      <input value="Submit" class="fh-btn" type="submit">
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--why choose us end -->
    <!--partener -->
    <section class="partener-1 bluebg">
      <div class="container">
        <div class="fh-partner clearfix">
          <div class="list-item slide-partener">
            <div class="partner-item">
              <div class="partner-content">
                <a href="#" target="_self"><img alt="1764" src="assets/images/partener/partner-4.png"></a>
              </div>
            </div>
            <div class="partner-item">
              <div class="partner-content">
                <a href="#" target="_self"><img alt="1763" src="assets/images/partener/partner-3.png"></a>
              </div>
            </div>
            <div class="partner-item">
              <div class="partner-content">
                <a href="#" target="_self"><img alt="1762" src="assets/images/partener/partner-2.png"></a>
              </div>
            </div>
            <div class="partner-item">
              <div class="partner-content">
                <a href="#" target="_self"><img alt="1761" src="assets/images/partener/partner.png"></a>
              </div>
            </div>
            <div class="partner-item">
              <div class="partner-content">
                <a href="#" target="_self"><img alt="1765" src="assets/images/partener/Fertilizers.png"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--partener end -->
    <!--testimonials -->
    <section class="testmonial-1">
      <div class="fh-testimonials-carousel fh-testimonials column-1">
        <div class="testi-list  single-slide">
          <div class="testi-wrapper" style="background-image:url(assets/images/main-slider/testi-1.jpg)">
            <div class="container">
              <div class="testi-item">
                <span class="testi-icon"><i class="flaticon-quotations"></i></span>
                <div class="testi-content">
                  <div class="testi-star">
                    <i class="fa fa-star fa-md"></i>
                    <i class="fa fa-star fa-md"></i><i class="fa fa-star fa-md"></i>
                    <i class="fa fa-star fa-md"></i><i class="fa fa-star fa-md"></i>
                  </div>
                  <div class="testi-des">These guys are just the coolest company ever! They were aware of our transported for road and tail and well as complex transport services.</div>
                  <div class="info clearfix">
                    <span class="testi-name">Magdalena Donowan</span>
                    <span class="testi-job">CFD Engineer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="testi-wrapper" style="background-image:url(assets/images/main-slider/testi-3.jpg)">
            <div class="container">
              <div class="testi-item">
                <span class="testi-icon"><i class="flaticon-quotations "></i></span>
                <div class="testi-content">
                  <div class="testi-star">
                    <i class="fa fa-star fa-md"></i>
                    <i class="fa fa-star fa-md"></i><i class="fa fa-star fa-md"></i>
                    <i class="fa fa-star fa-md"></i><i class="fa fa-star fa-md"></i>
                  </div>
                  <div class="testi-des">The shipping process with this crew was a pleasurable experience! They did all in time and with no safety incidents. Thank you so much guys!</div>
                  <div class="info clearfix">
                    <span class="testi-name">Emilia Crena</span>
                    <span class="testi-job">CEO, VIP Construction, Australia</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="testi-wrapper" style="background-image:url(assets/images/main-slider/testi-2.jpg)">
            <div class="container">
              <div class="testi-item">
                <span class="testi-icon"><i class="flaticon-quotations "></i></span>
                <div class="testi-content">
                  <div class="testi-star">
                    <i class="fa fa-star fa-md"></i>
                    <i class="fa fa-star fa-md"></i><i class="fa fa-star fa-md"></i>
                    <i class="fa fa-star fa-md"></i><i class="fa fa-star fa-md"></i>
                  </div>
                  <div class="testi-des">Their performance on our project was extremely successful. As a result of this collaboration, the project was built with exceptional quality &amp; delivered.</div>
                  <div class="info clearfix">
                    <span class="testi-name">Orlando E. Dougles</span>
                    <span class="testi-job">CEO, Green Valley Inc, London</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--testimonilas-->
    <!--news -->
    <section class="testmonial-1 secpadd">
      <div class="container">
        <div class="fh-section-title clearfix  text-left version-dark paddbtm40">
          <h2>FEATURED NEWS</h2>
        </div>
        <div class="fh-latest-post carousel">
          <div class="post-list  news-slide">
            <div class="item-latest-post clearfix">
              <div class="entry-thumbnail">
                <a href="#"><img src="assets/images/blogs/blog-1.jpg" alt="" /></a>
                <div class="entry-time">
                  <span class="day">09</span>
                  <span class="month">Aug</span>
                </div>
              </div>
              <div class="entry-summary">
                <div class="entry-meta clearfix">
                  <span class="meta author">by <a href="#">steelthemes</a></span>
                  <span class="meta cat-links"><a href="#">High Way</a>, <a href="#">Logistic</a></span>
                </div>
                <h2 class="entry-title"><a href="#">Air Cargo May Become Short-term Solution</a></h2>
                <div class="entry-footer">
                  <a href="#">Read More...</a>
                </div>
              </div>
            </div>
            <div class="item-latest-post clearfix">
              <div class="entry-thumbnail">
                <a href="#"><img src="assets/images/blogs/blog-2.jpg" alt="" /></a>
                <div class="entry-time">
                  <span class="day">09</span>
                  <span class="month">Aug</span>
                </div>
              </div>
              <div class="entry-summary">
                <div class="entry-meta clearfix">
                  <span class="meta author">by <a href="#">steelthemes</a></span>
                  <span class="meta cat-links"><a href="#">High Way</a>, <a href="#">Logistic</a></span>
                </div>
                <h2 class="entry-title"><a href="#">We introduce new boat and flight service</a></h2>
                <div class="entry-footer">
                  <a href="#">Read More...</a>
                </div>
              </div>
            </div>
            <div class="item-latest-post clearfix">
              <div class="entry-thumbnail">
                <a href="#"><img src="assets/images/blogs/blog-3.jpg" alt="" /></a>
                <div class="entry-time">
                  <span class="day">26</span>
                  <span class="month">Jul</span>
                </div>
              </div>
              <div class="entry-summary">
                <div class="entry-meta clearfix">
                  <span class="meta author">by <a href="#">steelthemes</a></span>
                  <span class="meta cat-links"><a href="#">Logistic</a>, <a href="#">Warehousing</a></span>
                </div>
                <h2 class="entry-title"><a href="#">Introduce new boat service in this spring</a></h2>
                <div class="entry-footer">
                  <a href="#">Read More...</a>
                </div>
              </div>
            </div>
            <div class="item-latest-post clearfix">
              <div class="entry-thumbnail">
                <a href="#"><img src="assets/images/blogs/blog-4.jpg" alt="" /></a>
                <div class="entry-time">
                  <span class="day">26</span>
                  <span class="month">Jul</span>
                </div>
              </div>
              <div class="entry-summary">
                <div class="entry-meta clearfix">
                  <span class="meta author">by <a href="#">steelthemes</a></span>
                  <span class="meta cat-links"><a href="#">High Way</a>, <a href="#">Warehousing</a></span>
                </div>
                <h2 class="entry-title"><a href="#">Goods will be contain in certified safe warehouse</a></h2>
                <div class="entry-footer">
                  <a href="#">Read More...</a>
                </div>
              </div>
            </div>
            <div class="item-latest-post clearfix">
              <div class="entry-thumbnail">
                <a href="#"><img src="assets/images/blogs/blog-5.jpg" alt="" /></a>
                <div class="entry-time">
                  <span class="day">26</span>
                  <span class="month">Jul</span>
                </div>
              </div>
              <div class="entry-summary">
                <div class="entry-meta clearfix">
                  <span class="meta author">by <a href="#">steelthemes</a></span>
                  <span class="meta cat-links"><a href="#">High Way</a>, <a href="#">Logistic</a></span>
                </div>
                <h2 class="entry-title"><a href="#">Our customer around the world satisty with it</a></h2>
                <div class="entry-footer">
                  <a href="#">Read More...</a>
                </div>
              </div>
            </div>
            <div class="item-latest-post clearfix">
              <div class="entry-thumbnail">
                <a href="#"><img src="assets/images/blogs/blog-6.jpg" alt="" /></a>
                <div class="entry-time">
                  <span class="day">25</span>
                  <span class="month">Jul</span>
                </div>
              </div>
              <div class="entry-summary">
                <div class="entry-meta clearfix">
                  <span class="meta author">by <a href="#">steelthemes</a></span>
                  <span class="meta cat-links"><a href="#">Entrepreneurs</a>, <a href="#">Warehousing</a></span>
                </div>
                <h2 class="entry-title"><a href="#">We ensures you best the quality services</a></h2>
                <div class="entry-footer">
                  <a href="#">Read More...</a>
                </div>
              </div>
            </div>
            <div class="item-latest-post clearfix">
              <div class="entry-thumbnail">
                <a href="#"><img src="assets/images/blogs/blog-7.jpg" alt="" /></a>
                <div class="entry-time">
                  <span class="day">09</span>
                  <span class="month">Aug</span>
                </div>
              </div>
              <div class="entry-summary">
                <div class="entry-meta clearfix">
                  <span class="meta author">by <a href="#">steelthemes</a></span>
                  <span class="meta cat-links"><a href="#">Logistic</a>, <a href="#">Pharmacology</a></span>
                </div>
                <h2 class="entry-title"><a href="#">Our Cargo trucking service</a></h2>
                <div class="entry-footer">
                  <a href="#">Read More...</a>
                </div>
              </div>
            </div>
            <div class="item-latest-post clearfix">
              <div class="entry-thumbnail">
                <a href="#"><img src="assets/images/blogs/blog-8.jpg" alt="" /></a>
                <div class="entry-time">
                  <span class="day">09</span>
                  <span class="month">Aug</span>
                </div>
              </div>
              <div class="entry-summary">
                <div class="entry-meta clearfix">
                  <span class="meta author">by <a href="#">steelthemes</a></span>
                  <span class="meta cat-links"><a href="#">Manufacturing</a>, <a href="#">Warehousing</a></span>
                </div>
                <h2 class="entry-title"><a href="#">Delivering logistic services</a></h2>
                <div class="entry-footer">
                  <a href="#">Read More...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
