<div class="home header-transparent  header-sticky header-v1 hide-topbar-mobile">
  <div id="page">
    <!-- Preloader-->
    <div class="preloader"></div>
    <!-- topbar -->
  <div id="headerHideDiv" *ngIf="!isHeaderHide">  
    <div id="fh-header-minimized" class="fh-header-minimized fh-header-v1"></div>
    <div id="topbar" class="topbar">
      <div class="container">
        <div class="topbar-left topbar-widgets text-left">
          <div id="cargo-office-location-widget-2" class="widget cargo-office-location-widget">
            <div class="office-location clearfix">
              <div class="office-switcher"><i class="flaticon-globe "></i>
                <a class="current-office" href="#">Newyork Office</a>
                <ul>
                  <li>Newyork Office</li>
                  <li>London Office</li>
                  <li>Tokyo Office</li>
                </ul>
              </div>
              <ul class="topbar-office active">
                <li><i class="flaticon-telephone" aria-hidden="true"></i>Phone +012 345 6789</li>
                <li><i class="flaticon-web" aria-hidden="true"></i>Mail@CargoHub.com</li>
                <li><i class="flaticon-pin" aria-hidden="true"></i>Cargo Hub, NY 10012, USA</li>
              </ul>
             
            </div>
          </div>
        </div>
        <div class="topbar-right topbar-widgets text-right" *ngIf="!authCred.tokenId" >
          <div class="widget">
            <div class="login-bar">
              <ul>
                <li><a  (click)="login()" >LOGIN</a></li> <!-- routerLink="signup" -->
                <li><a  (click)="signup()" >SIGN UP</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
	<header id="masthead" class="site-header clearfix">
        <div class="header-main clearfix">
            <div class="container mobile_relative" style="margin-top: 50px;" >
                <div class="row">
                    <div class="site-logo col-md-3 col-sm-6 col-xs-6">
                        <a routerLink="" class="logo">
							<img src="assets/images/logo.png" alt="CargoHub" class="logo-light show-logo">
							<img src="assets/images/logo2.png" alt="CargoHub" class="logo-dark hide-logo">
						</a>
                    </div>
                    <div class="site-menu col-md-9 col-sm-6 col-xs-6">
                        <nav id="site-navigation" class="main-nav primary-nav nav">
                            <ul class="menu">
                                <li><a [routerLink]="">Home</a></li>
								<li class="has-children" *ngIf="authCred.tokenId">
									<a class="dropdown-toggle">Account</a>
									<ul class="sub-menu">
										<li><a routerLink="profile">Profile</a></li>
										<li *ngIf="authCred.role=='owner'"><a routerLink="/add-vehicle">Add Vehicle</a></li>
										<li *ngIf="authCred.role=='customer'"><a [routerLink]="['job', 'add', 'standard-rate']" >Add Standard Job</a></li>
										<li *ngIf="authCred.role=='customer'"><a [routerLink]="['job','add','on-demand']">Add Demand Job</a></li>
										<li *ngIf="authCred.role=='driver' && isAppliedJobs"><a [routerLink]="['job-listing','active']" >Applied Jobs</a></li>
										<li><a routerLink="/job-listing" *ngIf="authCred.role === 'customer' && isActiveJobs" >Job List</a></li>
										<li><a [routerLink]="['job-listing','active']" *ngIf="authCred.role === 'customer' && isActiveJobs" >Active Jobs</a></li>
										<li><a (click)="logout()">Logout</a></li>
									</ul>
								</li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <a href="#" class="navbar-toggle">
                    <span class="navbar-icon">
                        <span class="navbars-line"></span>
                    </span>
                </a>
            </div>
        </div>
    </header>
  </div>    
      <router-outlet></router-outlet>
    <div id="isFooterHide" *ngIf="!isHeaderHide">  
      <div class="footer-widgets widgets-area">
        <div class="contact-widget">
          <div class="container">
            <div class="row">
              <div class="contact col-md-3 col-xs-12 col-sm-12">
                <a href="#" class="footer-logo"><img src="assets/images/logo-light.png" alt="Footer Logo"></a>
              </div>
              <div class="contact col-md-3 col-xs-12 col-sm-12"><i class="flaticon-signs"></i>
                <p>Address : Cargo Hub,</p>
                <h4>NEWYORK 10012, USA</h4></div>
              <div class="contact col-md-3 col-xs-12 col-sm-12"><i class="flaticon-phone-call "></i>
                <p>Toll Free Number :</p>
                <h4>+44 567 890123 – 30</h4></div>
              <div class="contact col-md-3 col-xs-12 col-sm-12"><i class="flaticon-clock-1"></i>
                <p>Opening Hours :</p>
                <h4>MON – FRI: 8AM – 5PM</h4></div>
            </div>
          </div>
        </div>
        <div class="footer-sidebars">
          <div class="container">
            <div class="row">
              <div class="footer-sidebar footer-1 col-xs-12 col-sm-6 col-md-3">
                <div class="widget widget_text">
                  <h4 class="widget-title">About Cargo</h4>
                  <div class="textwidget">
                    <p>Cargo HUB Logistics Services is a global supplier of transport and logistics solutions. We have offices in more than 20 countries and an international network of partners and agents.</p>
                  </div>
                </div>
                <div class="widget cargohub-social-links-widget">
                  <div class="list-social style-1">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                  </div>
                </div>
              </div>
              <div class="footer-sidebar footer-2 col-xs-12 col-sm-6 col-md-3">
                <div class="widget widget_nav_menu">
                  <h4 class="widget-title">Useful Links</h4>
                  <div class="menu-service-menu-container">
                    <ul class="menu">
                      <li><a href="#">All Services</a></li>
                      <li><a href="#">Ground Transport</a></li>
                      <li><a href="#">Cargo Service</a></li>
                      <li><a href="#">Warehousing</a></li>
                      <li><a href="#">Road Freight Forwarding</a></li>
                      <li><a href="#">Ocean Freight Forwarding</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-sidebar footer-3 col-xs-12 col-sm-6 col-md-3">
                <div class="widget latest-project-widget">
                  <h4 class="widget-title">Photo gallery</h4>
                  <div class="latest-project-list clearfix">
                    <div class="latest-project clearfix">
                      <div class="fp-widget-thumb">
                        <a class="widget-thumb" href="#">
                            <i class="fa fa-link" aria-hidden="true"></i>
                            <img src="assets/images/projects/fg1.jpg" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="latest-project clearfix">
                      <div class="fp-widget-thumb">
                        <a class="widget-thumb" href="#">
                            <i class="fa fa-link" aria-hidden="true"></i>
                            <img src="assets/images/projects/fg2.jpg" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="latest-project clearfix">
                      <div class="fp-widget-thumb">
                        <a class="widget-thumb" href="#">
                            <i class="fa fa-link" aria-hidden="true"></i>
                            <img src="assets/images/projects/fg3.jpg" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="latest-project clearfix">
                      <div class="fp-widget-thumb">
                        <a class="widget-thumb" href="#">
                            <i class="fa fa-link" aria-hidden="true"></i>
                            <img src="assets/images/projects/fg4.jpg" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="latest-project clearfix">
                      <div class="fp-widget-thumb">
                        <a class="widget-thumb" href="#">
                            <i class="fa fa-link" aria-hidden="true"></i>
                            <img src="assets/images/projects/fg5.jpg" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="latest-project clearfix">
                      <div class="fp-widget-thumb">
                        <a class="widget-thumb" href="#">
                            <i class="fa fa-link" aria-hidden="true"></i>
                            <img src="assets/images/projects/fg6.jpg" alt="">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-sidebar footer-4 col-xs-12 col-sm-6 col-md-3">
                <div class="widget widget_mc4wp_form_widget">
                  <h4 class="widget-title">Our Newsletter</h4>
                  <form>
                    <div class="footform">
                      <div class="fh-form-field">
                        <p>
                          Sign up today for tips and latest news and exclusive special offers.
                        </p>
                        <div class="subscribe">
                          <input name="EMAIL" placeholder="Enter Your Email" required="" type="email">
                          <input value="Sign Up" type="submit">
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- / MailChimp for WordPress Plugin -->
                </div>
                <div class="widget widget_text">
                  <div class="textwidget">
                    <p>We don’t do spam and Your mail id very confidential.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="footer-copyright col-md-6 col-sm-12 col-sx-12">
              <div class="site-info">Copyright @ 2017 <a href="#">Steelthemes</a>, All Right Reserved </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-right footer-text"><a href="#">Purchase Now</a> </div>
          </div>
        </div>
      </footer>
    </div>  
  </div>
  <div class="primary-mobile-nav header-v1" id="primary-mobile-nav" role="navigation">
    <a href="#" class="close-canvas-mobile-panel">×</a>
    <ul class="menu">
      <li class="current-menu-item menu-item-has-children"><a href="index.html">Home</a>
        <ul class="sub-menu">
          <li><a href="index.html">Home Page 1</a></li>
          <li><a href="home-page-2.html">Home Page 2</a></li>
          <li><a href="home-page-3.html">Home Page 3</a></li>
          <li><a href="home-page-4.html">Home Page 4</a></li>
        </ul>
      </li>
      <li class="menu-item-has-children"><a href="services.html" class="dropdown-toggle">Services</a>
        <ul class="sub-menu">
          <li><a href="services.html">All Services</a></li>
          <li><a href="road-freight-forwarding.html">Road Freight Forwarding</a></li>
          <li><a href="ocean-freight-forwarding.html">Ocean Freight Forwarding</a></li>
          <li><a href="air-freight-forwarding.html">Air Freight Forwarding</a></li>
          <li><a href="warehousing.html">Warehousing</a></li>
          <li><a href="door-to-door-delivery.html">Door to Door Delivery</a></li>
          <li><a href="ground-transport.html">Ground Transport</a></li>
          <li><a href="worldwide-transport.html">Worldwide Transport</a></li>
          <li><a href="cargo-service.html">Cargo Service</a></li>
          <li><a href="packaging-storage.html">Packaging &#038; Storage</a></li>
        </ul>
      </li>
      <li class="menu-item-has-children"><a href="projects.html" class="dropdown-toggle">Pages</a>
        <ul class="sub-menu">
          <li><a href="about-us.html">About Us</a></li>
          <li><a href="faqs.html">FAQS</a></li>
          <li><a href="our-prices.html">Our Prices</a></li>
          <li><a href="testimonials.html">Testimonials</a></li>
        </ul>
      </li>
      <li class="menu-item-has-children"><a href="gallery.html" class="dropdown-toggle">Gallery</a>
        <ul class="sub-menu">
          <li><a href="gallery-column-4.html">Gallery Four Columns</a></li>
          <li><a href="gallery-column-3.html">Gallery Three Columns</a></li>
          <li><a href="gallery.html">Gallery Two Columns</a></li>
          <li><a href="gallery-single.html">Gallery Single</a></li>
        </ul>
      </li>
      <li class="menu-item-has-children"><a href="#" class="dropdown-toggle">Features</a>
        <ul class="sub-menu">
          <li><a href="request-a-quote.html">Request A Quote</a></li>
          <li><a href="track-your-shipment.html">Track Your Shipment</a></li>
        </ul>
      </li>
      <li class="menu-item-has-children"><a href="blog.html" class="dropdown-toggle">News</a>
        <ul class="sub-menu">
          <li><a href="blog-column-2.html">Blog Two Columns</a></li>
          <li><a href="blog-column-3.html">Blog Three Columns</a></li>
          <li><a href="blog-column-4.html">Blog Four Columns</a></li>
          <li><a href="blog-sidebar.html">Blog With Sidebar</a></li>
          <li><a href="blog-single.html">Blog Single Post</a></li>
        </ul>
      </li>
      <li><a href="contact.html">Contact</a></li>
      <li class="extra-menu-item menu-item-button-link">
        <a href="request-a-quote.html" class="fh-btn btn">Get A Quote</a>
      </li>
    </ul>
  </div>
  <div id="off-canvas-layer" class="off-canvas-layer"></div>
  <a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>
</div>
