<div style="clear: both;"></div>
<div class="whychoose-1 secpadd registration-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="form-section">
                    <div class="container-contact100 truck-assess">
                        <div class="assessment-heading">
                            <img class="img-responsive" src="assets/images/vector/assessment-truck.png">
                            <h2>Assessment of Truck</h2>
                        </div>
                        <div class="wrap-contact100">
                            <form class="contact100-form validate-form">
                                <div class="col-md-12">
                                    <div class="wrap-input100 validate-input">
                                        <input class="input100" type="text" [value]="vehicle ? vehicle.vehicleNumber : '' " name="vehicleNo" placeholder="Vehicle No" readonly>
                                        <span class="focus-input100"></span>
                                    </div>
                                    <!-- <div class="wrap-input100 selectdiv">
                                        <select class="input100">
                                            <option selected>vehicle No</option>
                                            <option value="1">One </option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <span class="focus-input100"></span>
                                    </div> -->
                                </div>
                                <div class="col-md-12">
                                    <div class="wrap-input100 selectdiv">
                                        <select class="custom-select my-1 mr-sm-2 input100" id="inlineFormCustomSelectPref">
                                            <option selected>Time Period</option>
                                            <option value="1">One Year</option>
                                            <option value="2">Two Year</option>
                                            <option value="3">Three Year</option>
                                        </select>
                                        <span class="focus-input100"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="wrap-input100 validate-input">
                                        <input class="input100" type="text" name="totalAmount" placeholder="Total Amount" readonly>
                                        <span class="focus-input100"></span>
                                    </div>
                                </div>
                                <div style="clear: both;"></div>
                                <div class="text-center">
                                    <h2>Make Payment</h2>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4 payment-cheackbox">
                                    <label class="radio-btn Payment-text">Wallet
                                        <input type="radio" id="owner" name="radio">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-btn Payment-text">By Card
                                        <input type="radio" name="radio" id="customer">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-4"></div>
                                <div style="clear: both;"></div>
                                <div class="text-center">
                                    <h2>Payment Details</h2>
                                 </div>
                                 <div class="col-md-6 card-text">
                                     <p>Card Type</p> 
                                 </div>
                                <div class="col-md-6 payment-cheackbox">
                                    <label class="radio-btn Payment-text">Debit
                                        <input type="radio" id="owner" name="radio">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-btn Payment-text">Credit
                                        <input type="radio" name="radio" id="customer">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <div class="wrap-input100 ">
                                        <input class="input100" type="text" placeholder="Card No">
                                        <span class="focus-input100"></span>
                                    </div>
                                </div> 
                                <div class="col-md-6">
                                    <div class="wrap-input100 ">
                                        <input class="input100" type="text" placeholder="CVV No">
                                        <span class="focus-input100"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="wrap-input100 ">
                                        <input class="input100" type="text" placeholder="Date of Exp.">
                                        <span class="focus-input100"></span>
                                    </div>
                                </div> 
                                <div class="col-md-6">
                                    <div class="wrap-input100 ">
                                        <input class="input100" type="text" placeholder="Date of Exp.">
                                        <span class="Total Amount"></span>
                                    </div>
                                </div>
                                    <div style="clear: both;"></div>
                                <div class="col-md-12">
                                    <div class="container-contact100-form-btn">
                                        <button class="contact100-form-btn">
                                            <span>
                                        <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                                        Send
                                    </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>