<div style="clear: both;"></div>
<div class="whychoose-1 secpadd registration-bg ">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div style="clear: both;"></div>
        <div class="form-section">
          <div class="container radio-btn-bg truck-button">
            <div class="col-md-6 Vehicle-img" (click)="machineSelect('vehicle')" style="cursor: pointer;" id="vehicle">
              <img class="img-responsive" src="assets/images/vector/truck.png">
              <input type="radio" id="owner" checked="checked" name="radio" style="display: none;">
              <label>Vehicle</label>
            </div>
            <div class="col-md-6 Vehicle-img" (click)="machineSelect('machinery')" style="cursor: pointer;" id="Machinery">
              <img class="img-responsive" src="assets/images/vector/jcb.png">
              <input type="radio" name="radio" id="customer" style="display: none;">
              <label>Machinery</label>
            </div>
          </div>
          <div class="container-contact100" id="vehicle1" *ngIf="selectTypeValue" >
            <div class="wrap-contact100">
              
              <div class="alert alert-danger" *ngIf="errSuccObj.error" role="alert">{{errSuccObj.error}}</div>
              <!-- <div class="alert alert-success" *ngIf="errSuccObj.success" role="alert">{{errSuccObj.success}}</div> -->
              
              <form (submit)="addVehicle(addVehicleForm)" class="contact100-form validate-form" #addVehicleForm="ngForm">

                <div class="col-md-12">
                  <div class="wrap-input100 selectdiv">
                    <select class="custom-select my-1 mr-sm-2 input100" [(ngModel)]="vehicle.type" (change)="typeSelect(vehicle.type)" required name="vehicleType" id="inlineFormCustomSelectPref" #vType="ngModel">
                      <option value="" selected>Type</option>
                      <option [value]="x.name" *ngFor="let x of selectedMachineType" >
                        {{x.name}}
                      </option>
                    </select>
                    <span class="focus-input100"></span>
                  </div>
                  <div id="errType" *ngIf="addVehicleForm._submitted">
                    <div class="error-div" *ngIf="vType.errors && vType.errors.required">
                      This field is required
                    </div>  
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" [(ngModel)]="vehicle.vehicleNumber" required name="vehicleNumber" placeholder="vehicle No" #vehicleNumber="ngModel">
                    <span class="focus-input100"></span>
                  </div>
                  <div id="errType" *ngIf="addVehicleForm._submitted">
                    <div class="error-div" *ngIf="vehicleNumber.errors && vehicleNumber.errors.required">
                      This field is required
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="wrap-input100 ">
                    <input class="input100" type="text" [(ngModel)]="vehicle.registrationNumber" name="vehicleRegistrationNumber" required  placeholder="Registration No" #vehicleRegNumber="ngModel">
                    <span class="focus-input100"></span>
                  </div>
                  <div id="errType" *ngIf="addVehicleForm._submitted">
                    <div class="error-div" *ngIf="vehicleRegNumber.errors && vehicleRegNumber.errors.required">
                      This field is required
                    </div>  
                  </div>
                </div>
                

                <!-- <div class="col-md-6" *ngIf="type.make"> -->
                <div class="col-md-6" [hidden]="!type.make">  
                  <div class="wrap-input100 ">
                    <input class="input100" type="text"  [(ngModel)]="vehicle.vehicleMake" [required]="type.make" name="vehicleMake"  placeholder="Enter Make" #vehicleMake="ngModel">
                    <span class="focus-input100"></span>
                  </div>

                  <div id="errType" *ngIf="addVehicleForm._submitted && type.make">
                    <div class="error-div" *ngIf="vehicleMake.errors && vehicleMake.errors.required">
                      This field is required
                    </div>  
                  </div>
                </div>
                

                <!-- <div class="col-md-6" *ngIf="type.model"> -->
                <div class="col-md-6" [hidden]="!type.model">  
                  <div class="wrap-input100 ">
                    <input class="input100" type="text"  [(ngModel)]="vehicle.vehicleModel" [required]="type.model" name="vehicleModel" placeholder="Enter Model" #vehicleModel="ngModel">
                    <span class="focus-input100"></span>
                  </div>
                  <div id="errType" *ngIf="addVehicleForm._submitted && type.model">
                    <div class="error-div" *ngIf="vehicleModel.errors && vehicleModel.errors.required">
                      This field is required
                    </div>  
                  </div>
                </div>
                

                <!-- <div class="col-md-6" *ngIf="type.ton && type.ton.length"> -->

                <div class="col-md-6" [hidden]="type.ton==undefined || !type.ton.length">  
                  <div class="wrap-input100 selectdiv">
                    <select class="custom-select my-1 mr-sm-2 input100"  [(ngModel)]="vehicle.ton" [required]="type.ton && type.ton.length!=0" name="vehicleTon" id="inlineFormCustomSelectPref" #vehicleTon="ngModel">
                      <option value="" selected>Tonnage</option>
                      <option [value]="x.value" *ngFor="let x of type.ton">{{x.value}}</option>
                      <!-- <option value="2">Two</option>
                      <option value="3">Three</option> -->
                    </select>
                    <span class="focus-input100"></span>
                  </div>
                  <div id="errType" *ngIf="addVehicleForm._submitted && type.ton && type.ton.length">
                    <div class="error-div" *ngIf="vehicleTon.errors && vehicleTon.errors.required">
                      This field is required
                    </div>  
                  </div>
                </div>
                

                <!-- <div class="col-md-6" *ngIf="type.bodyType && type.bodyType.length"> -->
                <div class="col-md-6" [hidden]="type.bodyType==undefined || !type.bodyType.length">  
                  <div class="wrap-input100 selectdiv">
                    <select class="custom-select my-1 mr-sm-2 input100" [(ngModel)]="vehicle.bodyType" [required]="type.bodyType && type.bodyType.length!=0" name="bodyType" id="inlineFormCustomSelectPref" #bodyType="ngModel">
                      <option value="" selected>Body Type</option>
                      <option [value]="x.name" *ngFor="let x of type.bodyType">{{x.name}}</option>
                      
                    </select>
                    <span class="focus-input100"></span>
                  </div>
                  <div id="errType" *ngIf="addVehicleForm._submitted && type.bodyType && type.bodyType.length">
                    <div class="error-div" *ngIf="bodyType.errors && bodyType.errors.required">
                      This field is required
                    </div>  
                  </div>
                </div>
                

                <div class="col-md-6">
                  <div class="wrap-input100">
                    <div class="full-width">
                      <input type="file" id="base-input" rah-file-dir (updateName)="vehicle.extra.logBook = $event" (assignValue)="files.logBook=$event" class=" form-style-base input100">
                      <input type="text" id="fake-input" class="form-style-fake input100" [value]="vehicle.extra.logBook || 'Log Book'" placeholder="Log Book" readonly>
                      <span class="glyphicon glyphicon-open input-place"></span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="wrap-input100">
                    <div class="full-width">
                      <input type="file" id="base-input1" rah-file-dir (updateName)="vehicle.extra.insSticker = $event" (assignValue)="files.insSticker=$event" class=" form-style-base input100">
                      <input type="text" id="fake-input1" [value]="vehicle.extra.insSticker || 'Ins Sticker'" class="form-style-fake input100" placeholder="Ins Sticker" readonly>
                      <span class="glyphicon glyphicon-open input-place"></span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="wrap-input100">
                    <div class="full-width">
                      <input type="file" id="base-input2" rah-file-dir (updateName)="vehicle.extra.ntsaIns = $event" (assignValue)="files.ntsaIns=$event" class=" form-style-base input100">
                      <input type="text" id="fake-input2" [value]="vehicle.extra.ntsaIns || 'NTSA Ins'" class="form-style-fake input100" placeholder="NTSA Ins" readonly>
                      <span class="glyphicon glyphicon-open input-place"></span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="wrap-input100">
                    <div class="full-width">
                      <input type="file" id="base-input3" rah-file-dir (updateName)="vehicle.extra.rc = $event" (assignValue)="files.rc=$event" class=" form-style-base input100">
                      <input type="text" id="fake-input3" [value]="vehicle.extra.rc || 'RC'" class="form-style-fake input100" placeholder="RC" readonly>
                      <span class="glyphicon glyphicon-open input-place"></span>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="container-contact100-form-btn">
                    <button type="submit" class="contact100-form-btn" id="addVehicleBtn" data-loading-text="Submit..." autocomplete="off">
                      <span>
                        <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                        Submit
                      </span>
                    </button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
