<div style="clear: both;"></div>
<div class="whychoose-1 secpadd registration-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div style="clear: both;"></div>
                <div class="form-section">
                  <form (submit)="signup(signupForm)" class="contact100-form validate-form" #signupForm="ngForm">
                    <div class="container radio-btn-bg">
                        <label class="radio-btn">Owner
                            <input type="radio" [(ngModel)]="user.realm" value="owner" id="owner" name="type">
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio-btn">Customer
                            <input type="radio"  [(ngModel)]="user.realm" value="customer" name="type" id="customer">
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio-btn">Driver
                            <input type="radio"  [(ngModel)]="user.realm" value="driver" name="type" id="driver">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="container-contact100" id="owner_form">
                      <div class="wrap-contact100">
                          
                          <div class="alert alert-danger" *ngIf="errSuccObj.error" role="alert">{{errSuccObj.error}}</div>
                          <div class="alert alert-success" *ngIf="errSuccObj.success" role="alert">{{errSuccObj.success}}</div>

                          <div class="wrap-input100 validate-input">
                              <input class="input100" type="text" [(ngModel)]="user.name" required name="name" placeholder="Name" #name="ngModel">
                              <span class="focus-input100"></span>
                          </div>
                          <div id="errEmail" *ngIf="signupForm._submitted">
                            <div class="error-div" *ngIf="name.errors && name.errors.required">
                              This field is required
                            </div>  
                          </div>
                          
                          <div class="wrap-input100">
                              <input class="input100" type="password" [(ngModel)]="user.password" name="password" placeholder="Password" required minlength="6" #password="ngModel">
                              <span class="focus-input100"></span>
                          </div>
                          <div id="errPassword" *ngIf="signupForm._submitted">
                            <div class="error-div" *ngIf="password.errors && password.errors.required">
                              This field is required
                            </div>  
                            <div class="error-div" *ngIf="password.errors && password.errors.minlength">
                              password must be at least 6 characters long
                            </div>  
                          </div>

                          <div class="wrap-input100 ">
                              <input class="input100" type="password" [(ngModel)]="user.confirmPassword" name="confirmPassword" placeholder="Confirm-Password" required minlength="6" #conPassword="ngModel">
                              <span class="focus-input100"></span>
                          </div>
                          <div id="errPassword" *ngIf="signupForm._submitted">
                            <div class="error-div" *ngIf="conPassword.errors && conPassword.errors.required">
                              This field is required
                            </div>  
                            <div class="error-div" *ngIf="conPassword.errors && conPassword.errors.minlength">
                              password must be at least 6 characters long
                            </div>  
                          </div>


                          <div class="wrap-input100 validate-input"  [hidden]="user.realm!='owner'">
                              <input class="input100" type="text" [required]="user.realm=='owner'" [(ngModel)]="user.companyName" name="companyName" placeholder="Company Name" #companyName="ngModel">
                              <span class="focus-input100"></span>
                          </div>
                          <div id="errPassword" *ngIf="signupForm._submitted">
                            <div class="error-div" *ngIf="companyName.errors && companyName.errors.required">
                              This field is required
                            </div>  
                          </div>


                          <div class="wrap-input100 validate-input">
                              <input class="input100" type="text" [(ngModel)]="user.mobile" required pattern="[0-9]{4,20}" name="mobileNumber" placeholder="Mobile Number" #mobile="ngModel">
                              <span class="focus-input100"></span>
                          </div>
                          <div id="errPassword" *ngIf="signupForm._submitted">
                            <div class="error-div" *ngIf="mobile.errors && mobile.errors.required">
                              This field is required
                            </div> 
                            <div class="error-div" *ngIf="mobile.errors && mobile.errors.pattern">
                              Invalid mobile number
                            </div>   
                          </div>

                          <div class="wrap-input100 validate-input">
                              <input class="input100" type="text" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" placeholder="Email" #email="ngModel">
                              <span class="focus-input100"></span>
                          </div>
                          <div id="errPassword" *ngIf="signupForm._submitted">
                            <div class="error-div" *ngIf="email.errors && email.errors.required">
                              This field is required
                            </div> 
                            <div class="error-div" *ngIf="email.errors && email.errors.pattern">
                              Invalid email
                            </div>   
                          </div>

                          <!-- <div class="wrap-input100 validate-input">
                              <input class="input100" type="text" [(ngModel)]="user.address.address" autocorrect="off" autocapitalize="off" spellcheck="off" id="addressAutocomplete" name="address" placeholder="Address">
                              <span class="focus-input100"></span>
                          </div> -->
                          <div class="wrap-input100" *ngIf="user.realm=='driver'">
                              <div class="full-width">
                                  <input type="file" rah-file-dir (assignValue)="files.licenceIds=$event" (updateName)="user.extra.licenceName = $event" id="base-input" class=" form-style-base input100"  multiple> 
                                  <input type="text" id="fake-input" [value]="user.extra.licenceName || 'Upload your Driving Licence'" class="form-style-fake input100" placeholder="Upload your Driving Licence" readonly>
                                  <span class="glyphicon glyphicon-open input-place"></span>
                              </div>
                          </div>
                          <div class="wrap-input100" *ngIf="user.realm=='driver'">
                              <div class="full-width">
                                  <input type="file" id="base-input1" rah-file-dir (updateName)="user.extra.idName = $event" (assignValue)="files.governmentIds=$event" class=" form-style-base input100" multiple>
                                  <input type="text" id="fake-input1" [value]="user.extra.idName || 'Any Goverment ID'" class="form-style-fake input100" placeholder="Any Goverment ID" readonly>
                                  <span class="glyphicon glyphicon-open input-place"></span>
                              </div>
                          </div>
                          
                          <div class="container-contact100-form-btn">
                              <button class="contact100-form-btn" type="submit" id="signupBtn" data-loading-text="Signup..." autocomplete="off">
                                  <span>
                                    <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                                    Send
                                  </span>
                              </button>
                          </div>
                      </div>
                    </div>
                  </form>  
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>