<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="job-view-text">
				<h2>Lorem ipsum</h2>
				<ul>
					<li>Date - 16-12-15</li>
					<li>Pickup Location - Lorem ipsum dolor</li>
					<li>Drop Location - Lorem ipsum dolor</li>
					<li>Type of vehicle - Truck</li>
					<li>Total Weight - 500kg</li>
					<li>Nature Of Good - Lorem ipsum</li>
					<li>Value Of Goods - $5000.00</li>
				</ul>
			</div>
		</div>
	</div>
</div>